

.navbar {

}


header {
  background-color:blue;
  padding: 5rem 0;
  
}


.card {

  background-color: aqua;
  
}

.card-img-top {
  background-color: aqua;
}

.card-body {
  background-color: aqua;
}

.card-footer {
  background-color: black;
  
}


.card-header {
  background-color: red;
}

.card-body p {
  background-color: white;
}

.list-group-item {
  background-color: blue;
}

/* Footer */
footer {
  background-color: #343a40;
  padding: 5rem 0;
  
}















